<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GSM | TimeTable</title>
    <link href="css/404.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:200" rel="stylesheet">
</head>
<body>
    <form action="404">
      <div id="notfound">
          <div class="notfound">
            <div class="notfound-404">
              <h1>404</h1>
            </div>
            <h2>Oops! Nothing was found</h2>
            <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.
              <button type="button" class="down-btn" onclick="window.history.back();" style="font-size: 16px;">Return to homepage</button>
            </p>
          </div>
      </div>
    </form>
</body>
</html>